{% extends 'base.html' %}
{% block head %}
<style type="text/css">
a {
  color: inherit;
  text-decoration: none;
}
#game {
  margin-left: 2em;
  margin-right: 2em;
}
.clickable {
  cursor: pointer;
}
.inactive {
  opacity: 0.4;
}
.clue-label-text {
  display: inline;
}
.clue-text {
  display: inline;
  font-weight: bold;
}
.spymaster-view {
  margin-top: 1em;
}
.submit-form {
  margin-top: 1em;
  justify-content: center;
}
.submit {
  margin: 0px;
}
</style>
{% endblock %}
{% block content %}
{% raw %}
<div v-cloak id="game">
  <div class="flex two center" style="justify-content: center">
    <div>
      <span>
        <avatar :role="gameBundle.currentRole" :team="gameBundle.currentTeam" />
      </span>
    </div>
    <div>
      <span>
        <p class="clue-label-text">Clue:</p>
        <div v-if="gameBundle.currentClue.word != ''">
            <p class="clue-text">
                {{ gameBundle.currentClue.word }}, {{ gameBundle.currentClue.number}}
            </p>
        </div>
        <div v-else>
            <p class="clue-text">
                Waiting for spymaster ...
            </p>
        </div>
      </span>
    </div>
  </div>
  <div v-bind:class="{ inactive: !isActive }">
    <board :data="gameBundle.deck" :enablewords="wordsEnabled" :size="boardSize"></board>
    <div class="spymaster-view" v-if="gameBundle.currentRole === 'Spymaster'">
      <board :data="map" :size="boardSize"></board>
      <div class="submit-form flex two three-500 center">
          <div>
            <input type="text" v-model="clueword" placeholder="Clue">
          </div>
          <div style="width: 70px">
            <input type="number" v-model="cluenumber" min="1" max="8" placeholder="-">
          </div>
          <div style="width: 95px">
            <button
              class="submit"
              :disabled="!isActive ? true : false"
              v-bind:class="{ warning: !canSubmit(), success: canSubmit() }"
              v-on:click="submitClue"
            >
              Submit
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}
{% block scripts %}
{% raw %}
<script type="text/x-template" id="board-template">
  <div class="flex two three-500 four-700 five-900">
    <template v-for="row in boardData">
      <div v-for="col in row">
        <span v-bind:class="{
            red: col.status === 'RED',
            blue: col.status === 'BLUE',
            neutral: col.status === 'NEUTRAL',
            bomb: col.status === 'BOMB',
        }">
          <a v-if="enablewords" v-on:click="chooseWord(col.word)" class="clickable">
            {{col.word}}
          </a>
          <a v-else class="unclickable">
            {{col.word}}
          </a>
        </span>
      </div>
    </template>
  </div>
</script>
{% endraw %}
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/js.cookie.min.js') }}"></script>
<script>
  var COOKIE_ID = 'CN_ID';
  var EVENT_CONNECT = {{ ClientEvent.CONNECT.value|tojson|safe }};
  var EVENT_CHOOSE_WORD = {{ GameEvent.CHOOSE_WORD.value|tojson|safe }};
  var EVENT_SUBMIT_CLUE = {{ GameEvent.SUBMIT_CLUE.value|tojson|safe }};
  var EVENT_UPDATE = {{ GameEvent.UPDATE.value|tojson|safe }};
  var serverUri = location.protocol+'//'+document.domain+':'+location.port;
  var socket = io.connect(serverUri);

  var cookie = Cookies.getJSON(COOKIE_ID);
  var clientPlayers = cookie.players;
  var gameBundle = {{ game_bundle|tojson|safe }};
  var playersMapping = gameBundle.playersMapping;

  var map = [];
  if (gameBundle.map) {
    map = gameBundle.deck.map(function(pos, i) {
      return {
        word: pos.word,
        status: gameBundle.map.map[i]
      };
    });
  }

  Vue.component('board', {
    template: '#board-template',
    props: {
      data: Array,
      size: Number,
      enablewords: Boolean,
    },
    computed: {
      boardData: function () {
        var data = this.data.slice(0);
        var size = this.size;
        var rowSize = Math.sqrt(size);
        var boardData = [];
        while (data.length) boardData.push(data.splice(0, rowSize));
        return boardData;
      }
    },
    methods: {
      chooseWord: function(word) {
        socket.emit(EVENT_CHOOSE_WORD, word);
      },
    }
  });

  var Game = new Vue({
    el: '#game',
    data: {
      boardSize: Number(gameBundle.boardSize),
      clientPlayers: clientPlayers,
      cluenumber: '',
      clueword: '',
      gameBundle: gameBundle,
      map: map,
      playersMapping: playersMapping
    },
    computed: {
      isActive: function() {
        var gameBundle = this.gameBundle;
        var players_mapping = this.playersMapping;
        var currentTeam = gameBundle.currentTeam;
        var currentRole = gameBundle.currentRole;
        var isActive = false;
        this.clientPlayers.forEach(function(playerId) {
          var player = players_mapping[playerId];
          if (player.id === playerId &&
            player.role === currentRole &&
            player.team === currentTeam) {
              isActive = true;
            }
          });
        return isActive;
      },
      wordsEnabled: function() {
        return this.isActive && this.gameBundle.currentRole === 'Operative';
      }
    },
    methods: {
      validClue: function() {
         var nonEmpty = this.clueword !== '' && this.cluenumber !== '';
         var oneWord = this.clueword.indexOf(' ') < 0;
         return nonEmpty && oneWord;
      },
      canSubmit: function() {
        return this.isActive && this.validClue();
      },
      submitClue: function() {
        if (this.canSubmit()) {
          socket.emit(EVENT_SUBMIT_CLUE, {
            word: this.clueword,
            number: this.cluenumber
          });
          this.clueword = '';
          this.cluenumber = '';
        }
      }
    }
  });

  // Handles the initial connection of the player
  socket.on('connect', function() {
    var cookie = Cookies.getJSON(COOKIE_ID);
    socket.emit(EVENT_CONNECT, cookie);
  });

  socket.on(EVENT_UPDATE, function(gameBundle) {
    Game.gameBundle = gameBundle;
  });
</script>
{% endblock %}
