{% extends 'base.html' %}
{% block head %}
<style type="text/css">
.word { cursor: pointer; }
</style>
{% endblock %}
{% block content %}
{% raw %}
<div v-cloak id="app">
  <h2>{{ playerRole }}</h2>
  <board :data="deck" :size="boardSize"></board>
  <br/><br/>
  <board :data="map" :size="boardSize"></board>
  <br></br>
  <input type="text" placeholder="Enter clue word here"> </input>
  <input type="text" placeholder="Enter number of guesses here"> </input>
  <button v-on:click="sendClue"> Submit </button>
</div>
{% endraw %}
{% endblock %}
{% block scripts %}
{% raw %}
<script type="text/x-template" id="board-template">
  <table>
    <thead></thead>
    <tbody>
      <tr v-for="row in boardData">
        <td v-for="col in row">
          <span v-on:click="chooseWord(col.word)" class="word" v-bind:class="{
            red: col.status === 'RED',
            blue: col.status === 'BLUE',
            neutral: col.status === 'NEUTRAL',
            bomb: col.status === 'BOMB'
          }">
            {{col.word}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</script>
{% endraw %}
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/js.cookie.min.js') }}"></script>
<script>
  var EVENT_CHOOSE_WORD = {{ GameEvent.CHOOSE_WORD.value|tojson|safe }};
  var serverUri = location.protocol+'//'+document.domain+':'+location.port;
  var socket = io.connect(serverUri);

  var playerRole = {{ player_role|tojson|safe }};
  var boardSize = {{ board_size|tojson|safe }};
  var gameBundle = {{ game_bundle|tojson|safe }};
  var map = [];

  if (gameBundle.map) {
    map = gameBundle.deck.map(function(pos, i) {
      return {
        word: pos.word,
        status: gameBundle.map.map[i]
      };
    });
  }

  Vue.component('board', {
    template: '#board-template',
    props: {
      data: Array,
      size: Number,
    },
    computed: {
      boardData: function () {
        var data = this.data;
        var size = this.size;
        var rowSize = Math.sqrt(size);
        var boardData = [];
        while (data.length) boardData.push(data.splice(0, rowSize));
        return boardData;
      }
    },
    methods: {
      chooseWord: function(word) {
        socket.emit(EVENT_CHOOSE_WORD, word);
      }
    }
  });

  var App = new Vue({
    el: '#app',
    data: {
      playerRole: playerRole,
      boardSize: boardSize,
      deck: gameBundle.deck,
      map: map
    },
    methods: {
      sendClue: function(event) {
        socket.emit('player turn')
      }
    }
  });
</script>
{% endblock %}
