{% extends 'base.html' %}
{% block head %}
<style type="text/css">
.th-blue {
  background-color: #0074d9;
}
.th-red {
  background-color: #ff4136;
}
td {
  padding-right: 1em;
}
td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.error-text {
  color: red;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.list-enter-active, .list-leave-active {
  transition: opacity .5s;
}
.list-enter, .list-leave-to {
  opacity: 0;
}
</style>
{% endblock %}
{% block content %}
{% raw %}
<div id="lobby">
  <center>
    <p>Share the game code <b>{{ gameCode }}</b> with your friends</p>
    <h3>Teams</h3>
    <div class="flex one two-800">
      <div>
        <team
          :playerid="playerId"
          :players="bluePlayers"
          color="BLUE"
          :avataruri="avatarUri"
        ></team>
      </div>
      <div>
        <team
          :playerid="playerId"
          :players="redPlayers"
          color="RED"
          :avataruri="avatarUri"
        ></team>
      </div>
    </div>
    <button class="success" v-on:click="switchTeams">Switch teams</button>
    <button class="warning" v-on:click="startGame">Start Game</button>
    <transition-group name="list" tag="p">
      <p v-for="error in errors" class="error-text" v-bind:key="error">
        {{ "Error: " + error }}
      </p>
    </transition-group>
  </center>
</div>
{% endraw %}
{% endblock %}
{% block scripts %}
{% raw %}
<script type="text/x-template" id="team-template">
  <table class="primary">
    <thead>
      <tr>
        <th v-bind:class="{
          'th-blue': color === 'BLUE',
          'th-red': color === 'RED',
        }">Player</th>
        <th v-bind:class="{
          'th-blue': color === 'BLUE',
          'th-red': color === 'RED',
        }">Role</th>
      </tr>
    </thead>
    <tbody>
      <!-- Empty item to maintain the table width if there are no items -->
      <template v-if="players.length === 0">
        <tr>
          <td></td>
          <td>
            <select style="width: 150px; visibility: hidden;"></select>
          </td>
        </tr>
      </template>
      <template v-else>
        <tr v-for="player in players" v-bind:key="player.avatar">
          <td>
            <img class="avatar" :src="avataruri + player.avatar + '.png'">
            </img>
          </td>
          <td>
            <select v-if="player.id === playerid" class="table-content" style="width: 150px" v-on:change="onChange" v-bind:value="player.role">
              <option>SPYMASTER</option>
              <option>PLAYER</option>
            </select>
            <select v-else class="table-content" style="width: 150px" disabled v-bind:value="player.role">
              <option>SPYMASTER</option>
              <option>PLAYER</option>
            </select>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</script>
{% endraw %}
<script type="text/javascript" charset="utf-8">
  var COOKIE_ID = 'CN_ID';
  var avatarUri = {{ url_for('static', filename='img/avatar/')|tojson }};
  var gameCode = {{ game_code|tojson }};
  var players = [];
  var errors = [];

  // Connect to the socket server
  var serverUri = location.protocol+'//'+document.domain+':'+location.port;
  var socket = io.connect(serverUri);

  Vue.component('team', {
    template: '#team-template',
    props: {
      players: Array,
      color: String,
      playerid: String,
      avataruri: String
    },
    methods: {
      onChange: function(value) {
        socket.emit('player switch role');
      }
    }
  });

  var Lobby = new Vue({
    el: '#lobby',
    data: {
      playerId: '',
      avatarUri: avatarUri,
      gameCode: gameCode,
      players: players,
      errors: errors,
    },
    computed: {
      bluePlayers: function() {
        return this.players.filter(function(player) {
          return player.team === 'BLUE';
        });
      },
      redPlayers: function() {
        return this.players.filter(function(player) {
          return player.team === 'RED'
        });
      }
    },
    methods: {
      switchTeams: function(event) {
        socket.emit('player switch team');
      },
      startGame: function(event) {
          socket.emit('start game');
      }
    }
  });

  // Handles the initial connection of the player
  socket.on('connect', function() {
    var oldId = Cookies.get(COOKIE_ID);
    socket.emit('player connect', {
      'oldId': oldId
    });
  });

  socket.on('player id', function(playerId) {
    Lobby.playerId = playerId;
    Cookies.set(COOKIE_ID, playerId);
  });

  // Handles initialization of lobby data
  socket.on('update', function(data) {
    // clear the players list
    players.splice(0, players.length);

    // add in the new state
    data.players.forEach(function(player) {
      players.push(player);
    });
  });

  socket.on('start', function(data) {
     window.location.replace(data); 
  });

  socket.on('error', function(error) {
    errors.push(error);
    setTimeout(function() {
      errors.shift();
    }, 10000);
  });

</script>
{% endblock %}
