{% extends 'base.html' %}
{% block head %}
<style type="text/css">
.th-blue { background-color: #0074d9; }
.th-red { background-color: #ff4136; }
.avatar-cell {
  display: flex;
  justify-content: center;
}
td { padding-right: 1em; }
.log-error { color: red; }
.log-warn { color: #ff851b; }
.log-info { color: #ADA4A4 }
.log-container { width: 595px; }
.delete { cursor: pointer; }
.fade-enter-active, .fade-leave-active { transition: opacity .5s; }
.fade-enter, .fade-leave-to { opacity: 0; }
.list-enter-active, .list-leave-active { transition: opacity .5s; }
.list-enter, .list-leave-to { opacity: 0; }
</style>
{% endblock %}
{% block content %}
{% raw %}
<div v-cloak id="lobby">
  <center>
    <p>Share the game code <b>{{ gameCode }}</b> with your friends</p>
    <table class="primary">
      <thead>
        <tr>
          <th></th><th></th><th>Team</th><th>Role</th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="player in players" v-bind:key="player.avatar">
          <td>
            <img class="avatar" :src="avataruri + player.avatar + '.png'"></img>
          </td>
          <td class="avatar-cell">
            <avatar :role="player.role" :team="player.team" />
          </td>
          <td>
            <select v-if="contains(player.id)" class="table-content" style="width: 150px" v-on:change="switchTeam(player.id)" v-bind:value="player.team">
              <option>Red</option>
              <option>Blue</option>
            </select>
            <select v-else class="table-content" style="width: 150px" disabled v-bind:value="player.team">
              <option>Red</option>
              <option>Blue</option>
            </select>
          </td>
          <td>
            <select v-if="contains(player.id)" class="table-content" style="width: 150px" v-on:change="switchRole(player.id)" v-bind:value="player.role">
              <option>Spymaster</option>
              <option>Operative</option>
            </select>
            <select v-else class="table-content" style="width: 150px" disabled v-bind:value="player.role">
              <option>Spymaster</option>
              <option>Operative</option>
            </select>
          </td>
          <td>
            <span class="delete" v-on:click="deletePlayer(player.id)">
              <svg-icon icon="#icon-delete" width="20" height="20"/>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <button v-on:click="addPlayer">Add player</button>
    <button class="warning" v-on:click="startGame">Start Game</button>
    <div class="log-container">
      <transition-group name="list" tag="p">
        <p v-for="event in log" v-bind:key="event.msg" v-bind:class="{
          'log-error': event.type === 'error',
          'log-warn': event.type === 'warn',
          'log-info': event.type === 'info'
        }">
          <template v-if="event.type === 'error'">
            {{ "Error: " + event.msg }}
          </template>
          <template v-if="event.type === 'warn'">
            {{ "Warning: " + event.msg }}
          </template>
          <template v-if="event.type === 'info'">
            {{ event.msg }}
          </template>
        </p>
      </transition-group>
    </div>
  </center>
</div>
{% endraw %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/js.cookie.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script type="text/javascript" charset="utf-8">
  var COOKIE_ID = 'CN_ID';
  var EVENT_SWITCH_ROLE = {{ LobbyEvent.SWITCH_ROLE.value|tojson|safe }};
  var EVENT_SWITCH_TEAM = {{ LobbyEvent.SWITCH_TEAM.value|tojson|safe }};
  var EVENT_CONNECT = {{ LobbyEvent.CONNECT.value|tojson|safe }};
  var EVENT_UPDATE = {{ LobbyEvent.UPDATE.value|tojson|safe }};
  var EVENT_SET_ID = {{ LobbyEvent.SET_ID.value|tojson|safe }};
  var EVENT_START_GAME = {{ LobbyEvent.START_GAME.value|tojson|safe }};
  var EVENT_INIT_START_GAME = {{ LobbyEvent.INIT_START_GAME.value|tojson|safe }};
  var EVENT_ADD_PLAYER = {{ LobbyEvent.ADD_PLAYER.value|tojson|safe }};
  var EVENT_DELETE_PLAYER = {{ LobbyEvent.DELETE_PLAYER.value|tojson|safe }};
  var EVENT_RECEIVE_PLAYERS = {{ LobbyEvent.RECEIVE_PLAYERS.value|tojson|safe }};

  var avatarUri = {{ url_for('static', filename='img/avatar/')|tojson|safe }};
  var gameCode = {{ game_code|tojson|safe }};
  var players = [];
  var log = [];
  var deviceIcon = getDeviceIcon(navigator.userAgent);

  // Connect to the socket server
  var serverUri = location.protocol+'//'+document.domain+':'+location.port;
  var socket = io.connect(serverUri);

  Vue.component('team', {
    template: '#team-template',
    props: {
      players: Array,
      color: String,
      playerid: String,
      avataruri: String
    },
    methods: {
      onChange: function(playerId) {
        socket.emit(EVENT_SWITCH_ROLE, playerId);
      }
    }
  });

  var Lobby = new Vue({
    el: '#lobby',
    data: {
      avatarUri: avatarUri,
      gameCode: gameCode,
      players: players,
      myplayers: [],
      log: log,
      avataruri: avatarUri
    },
    methods: {
      contains: function(id) {
        var contains = false;
        this.myplayers.forEach(function(player) {
          if (player.id === id) {
            contains = true;
          }
        });
        return contains;
      },
      addPlayer: function() {
        socket.emit(EVENT_ADD_PLAYER);
      },
      deletePlayer: function(playerId) {
        socket.emit(EVENT_DELETE_PLAYER, playerId);
      },
      switchTeam: function(playerId) {
        socket.emit(EVENT_SWITCH_TEAM, playerId);
      },
      switchRole: function(playerId) {
        socket.emit(EVENT_SWITCH_ROLE, playerId);
      },
      startGame: function(event) {
        socket.emit(EVENT_INIT_START_GAME);
      }
    }
  });

  // Handles the initial connection of the player
  socket.on('connect', function() {
    var cookie = Cookies.getJSON(COOKIE_ID);
    socket.emit(EVENT_CONNECT, cookie);
  });

  socket.on(EVENT_SET_ID, function(cookie) {
    Cookies.set(COOKIE_ID, cookie);
    Lobby.myplayers = cookie.players;
  });

  socket.on(EVENT_RECEIVE_PLAYERS, function(cookie) {
    Cookies.set(COOKIE_ID, cookie);
    Lobby.myplayers = cookie.players;
  });

  // Handles initialization of lobby data
  socket.on(EVENT_UPDATE, function(data) {
    // clear the players list
    players.splice(0, players.length);

    // add in the new state
    data.players.forEach(function(player) {
      players.push(player);
    });
  });

  socket.on(EVENT_START_GAME, function(data) {
     window.location.href = data;
  });

  function logMsg(type, msg) {
    log.push({
      type: type,
      msg: msg
    });
    setTimeout(function() {
      log.shift();
    }, 10000);
  }

  socket.on('connect_error', function(error) {
    logMsg('error', 'Could not connect to socket server.');
  });

  socket.on('connect_timeout', function() {
    logMsg('error', 'Connection timed out.');
  });

  socket.on('reconnect', function(n) {
    logMsg('info', 'Reconnected.');
  });

  socket.on('reconnect_error', function(error) {
    logMsg('error', 'Could not reconnect');
  });

  socket.on('reconnect_failed', function(error) {
    logMsg('error', 'Could not reconnect');
  });

  socket.on('error', function(error) {
    if (typeof error !== 'string') {
      console.log(error);
    } else {
      logMsg('error', error);
    }
  });

</script>
{% endblock %}
